<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

  <body>
    <div class="container page-container">
      <%= render partial: "layouts/header" %>
      <div class="row content-wrap ">
        <div class="col-xl-3">
          <%= render partial: "layouts/sidebar" %>
        </div>
        <div class="col-xl-9">
          <% if notice || alert %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render partial: "layouts/footer" %>
    </div>
  </body>
</html>
